<!DOCTYPE html>
<html>
<head>
	<title> Edit <%= post.title %> </title>
</head>
<body>
	<h1> Edit Post: </h1>
	<form action="/update/<%= post.id %>?_method=PUT" method="POST">
	<button> Update Post </button>
	<br>
	<h2> Title:</h2>
	<input type="text" name="title" value="<%= post.title %>" required>
	<h2> Author: </h2>
	<input type="text" name="author" value="<%= post.author %>" required>
	<h2> Body: </h2>
	<input type="textarea" name="body" value="<%= post.body %>" required>
	<h2> Image URL: </h2>
	<input type="text" name="image" value="<%= post.image %>" required>	
	</form>
	<br>
	<a href="/posts"> Go Home </a>
</body>
</html>