<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      text-align: center;
    }
    img {
      width: 450px;
      height: 400px;
    }
    h1 {
      color: lime;
      font-size: 75px;
    }

  </style>
  <meta charset="UTF-8">
  <title> Blog-a-Thon </title>
</head>
<body>
<h1> Sweet Blog Dude! </h1>
<a href="/new"> Create New Blog Post </a>

<% posts.forEach( function(post) { %>
  
  <h2><%= post.title %></h2><h3> By <%= post.author %></h3>
  <img src="<%= post.image %>">
  <p><%= post.body %><p>
  <a href="/post/<%= post.id %>"> Post Page </a>

<% }); %>
</body>
</html>